
/*}
{
background-image: url
}
 {
  width:100%;
  border-radius: 25px;
}*/
table, th, td {
  border: 0px solid white;
  border-collapse: collapse;
  border-radius: 25px;
}
.tietoja{
  color:white;
}
th, td {
  padding: 15px;
  text-align: left;
}
#t01 tr:nth-child(even) {
  background-color: #fff;
}
#t01 tr:nth-child(odd) {
 background-color: #fff;
}
#t01 th {
  background-color: black;
  color: white;
}
/*{
background-color:#3de0e0;
}*/
article {
border-radius:1rem;
}
/*html:before
{

}*/
body{
   background-color: rgba(83, 231, 103, 0.904);
  border-right-style:double;
  border-left-style:dashed;
  border-top-style:dotted;
  border-bottom-style:solid;
  background-image: url(Planet-Earth-Background-Wallpaper-43993.jpg);
  height: 100%;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  font-family: Montserrat;
  
}
h1{
  font-family: Arial, Helvetica, sans-serif;
  color:#FFFFFf;
}
sisalto1 h1{
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  word-spacing: 1em;
}
.alue1{
  width: 70%;
  margin: auto;
}
.linkkilista{
margin-top: 10px;
border: 1px   #FFFFFF;
padding: 20px;
border-radius: 20px;
}
.linkkilista h2{
  text-align: center;
  color:  #FFFFFF;
}
.linkkilista ul{
  list-style-type: none;
}
  .yhteydenotto label{
    display: block;
  }
  .yhteydenotto input[type="text"], .yhteydenotto textarea{
    padding: 10px;
    width: 100%;
  }
  .nappula{
    background-color: black;
    color:  white;
    padding: 10px;
    border:none;
  }
  .nappula:hover{
    background-color: rgba(25, 218, 83, 0.808);
    color: white;
  }
  .laatikko{
    float: left;
    width: 33.3%;
    border: 2px solid black;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 25px;
  }
  .asemointi{
    position: fixed;
    top:100px;
    left: 0px;
    }

ul{
list-style-type:none;
}
/*ul li{
  padding: 5px
 background-color white:
 margin:5px 0px;
*/
div.palsta {
    border : 1px solid red;
    overflow : hidden;
    position : relative;
}

div.palsta div {
    float : left;
    overflow : hidden;
    width : 49.5%;
}
/*
div.palsta div.rivi {
    clear : both;
    /*
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: Montserrat;
}
section {
  height: 100px;
  width: 100%;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 20px #00000010;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 20px;
}
.form-group {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: 1px solid rgba(128, 128, 128, 0.199);
  margin-top: 5px;
}

textarea {
  resize: vertical;
}*/
input[type="submit"] {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 24px;
  border-radius: 8px;
  font-family: "Montserrat";
  color: rgb(84, 236, 70);
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s ease background-color;
}
button[type="submit"]:hover {
  background-color: rgb(214, 226, 236);
}
#status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}
#status.success {
  background-color: rgb(211, 250, 153);
  animation: status 4s ease forwards;
}
#status.error {
  background-color: rgb(250, 129, 92);
  color: white;
  animation: status 4s ease forwards;
}
@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
  p{
    color: white;
  }
  h1{
    color: white;
  }
  h2{
    color: white;
  }
  h3{
    color: white(0,0,255);
  }
  a{
    color: white;
  }
  th{
    color: white;
  }